@font-face {
	font-family: 'tele';
	src: url('../assets/t.ttf');
}	



			html{
				margin: 0;
				padding: 0;
				height: 100%;
				width: 100%;
			}

			body{
				font-family: 'tele';
				position: relative;
				padding: 0;
				margin: 0;
				width: 100%;
				box-sizing:border-box;
				min-height: 100%;
				background-color: rgb(244, 239, 239);
				

				}
			.brand{
				font-size: 18px;
				color: white;
				text-decoration: none;
				padding: 15px 20px;
				float: left;
				text-transform: capitalize;
				letter-spacing: 1px;
				word-spacing: 3px;
			}
			.brand:hover {
				background: rgba(0,0,0,0.3);
			}
			.left{
				float: right;
				margin: 0;
				font-size: 18px;
				text-transform: capitalize;
				letter-spacing: 1px;
				word-spacing: 3px;
			}
			li:hover {
				background: rgba(0,0,0,0.3);
			}
			ul>li {
				display: inline-block;
				list-style: none;
				padding: 15px 10px;
				
			}
			li>a {
				text-decoration: none;
				color: white;
			}
			.cover{
				height: 350px;
				width: 80%;
				position: absolute;
				top: 50px;
				text-align: center;
				background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../cover.jpg");
				margin-left: 10%;
				background-size: 100% 100%;
				background-repeat: no-repeat;

			}
			.outer
			{
				/*min-height: 1000px;*/
				position: relative;
				top: 380px;
				width: 100%;
				margin: 0;
				/*z-index: 10;*/
				/*min-height: 100%;*/
				box-sizing:border-box;
			}
			.login_outer {
				position: relative;
				
				width: 100%;
				margin: 0;
				/*z-index: 10;*/
				/*min-height: 100%;*/
				box-sizing:border-box;
			}
			.boxx{
				
				background-color: white;
				margin: 1% 10% 2% 10%;
				width: 80%;
				border-radius: 2px;
/*             	box-shadow: 10px 8px 16px 0px rgba(0, 0, 0, 0.3);*/
				padding: 5%;
				text-align: center;
				border-bottom: 5px solid #2c3e50;
				float: left;
				z-index: 10;
				margin-bottom: 2%;
				box-sizing:border-box;

			}
			.inner {
				box-sizing:border-box;
				background-color: rgb(244, 239, 239);
				padding: 0;
				border: none;
			}
			#boxx
			{
				width: 46%;
				padding: 5%;
				margin: 0 2% 2% 2%;
				display: inline-block;
				float: left;
				box-sizing:border-box;
			}
			.head {
				font-family: 'tele';
				position: fixed;
				/*border-top: 5px solid #212121;*/
				height: 50px;
				width: 100%;
				background: #2c3e50;
/*				box-shadow: 10px 8px 16px 0px rgba(0, 0, 0, 0.5);*/
				box-sizing:border-box;
				z-index: 12;
			}
			
			
			.pic
			{
				width: 30%;
				float: left;
			}
			.pic > img
			{
				width: 50%;
				height: auto;
				border: 2px solid #212121;
			}
			.brief {
				width: 70%;
				float: right;
				text-align: left;
			}
			.icon
			{
			text-decoration: none;
			color: black;
			border-radius: 3%;
			padding: 0.6%;
			}
			#icon 
			{
				width: 10%;
				float: right;
			}
			.icon:hover
			{
				background-color: #eeeeee;
			}
			.position
			{
			text-decoration: none;
			color: black;
			border-radius: 3%;
			padding: 4%;
					
			}
			#position 
			{
				width: 20%;
				float: right;


			}
			.position:hover
			{
				background-color: #eeeeee;
			}
			.summary{
				width: 80%;
				text-align: left;
				float: left;
				overflow: hidden;
			}

			
			.button
			{
				font-size: 15px;
				width: 120px;	
				height: 30px;
				border-radius: 2px;
/*             	box-shadow: 4px 5px 8px 0px rgba(0, 0, 0, 0.5);*/
				margin: 20px;
			}

			.btn {
				font-size: 12px;
				width: 80px;	
				height: 20px;
				border-radius: 2px;
/*             	box-shadow: 4px 5px 8px 0px rgba(0, 0, 0, 0.5);*/
				margin: 20px;
			}
			#skill_add {
				width: 40%;
				float: right;
			}
			.skills
			{
				width: 60%;
			}
			.edit
			{
				overflow: hidden;
				width: 100%;
				display: none;
				text-align: left;
				box-sizing:border-box;
			}
			.edit>input {
				
				height: 25px;
				border-radius: 5%;
			}
			.edit>textarea {
				border-radius: 1%;
				width:98%; 
				height:100px;
			}
			.fa {
				color: #4A3E3E !important;
			}
			.fa:hover {
				color: #2c3e50 !important;
			}


			.modal {
			    display: none; /* Hidden by default */
			    position: fixed; /* Stay in place */
			    z-index: 12; /* Sit on top */
			    left: 0;
			    top: 0;
			    width: 100%; /* Full width */
			    /*height: 100%;  Full height */
			    overflow: auto; /* Enable scroll if needed */
			    background-color: rgb(0,0,0); /* Fallback color */
			    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
			}

			/* Modal Content/Box */
			.modal-content {
			    background-color: #fefefe;
			    margin: 15% auto; /* 15% from the top and centered */
			    padding: 20px;
			    border: 1px solid #888;
			    width: 40%; /* Could be more or less, depending on screen size */
			    border-bottom: 5px solid #2c3e50;
			    border-radius: 1%;

			}

			/* The Close Button */
			.close {
			    color: #aaa;
			    float: right;
			    font-size: 28px;
			    font-weight: bold;
			}

			.close:hover,
			.close:focus {
			    color: black;
			    text-decoration: none;
			    cursor: pointer;
			}

			#edit>input {
				
				height: 25px;
				border-radius: 5%;
			}

			#login {
				width: 100%;
				height: 680px;
				
			}



			.footer {
				
				position: relative;
				bottom: 0;
				left: 0;
				height: 50px;
				box-sizing:border-box;
				width: 100%;
				background: #2c3e50;
				font-family: 'tele';
				text-align: center;
				
			}
			#footer{
				padding: 1%;
				height: 100%;
				box-sizing:border-box;
			}
			#footer>a{
				font-size: 18px;
				color: white;
				text-decoration: none;
			}

@media (max-width:1024px) {
	.header
	{
		height: 280px;
	}
}
@media (max-width: 700px) {
	.header {
		height: 180px;

	}
	.cover{
		top: 35px;
	}
	.brand {
		font-size: 12px;
	}
	.left {
		font-size: 12px;
	}
	.head {
		height: 35px;
	}
	.status {
		font-size: 90%;
	}
	#edit{
		font-size: 10px;
	}


}